@import "../utils/index.css";
@import "../components/bar.css";
@import "../components/circle.css";

.content{
  width: 800px;
  height: 600px;
  background-color: #6CBCC1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circles{
  margin-top: 128px;
}